.root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0px;
  display: flex;
  justify-content: center;
}

.buttons {
  position: fixed;
  z-index: 20;
  left: 70%;
  transform: translateX(10%);
  bottom: 50px;
}

.mainCard {
  display: flex;
  height: 500px;
  width: 500px;
  position: relative;
  border-radius: 3px;
  background: orange;
}

.colorOverlay {
  width: 100%;
  height: 100%;
  background: grey;
  opacity: 0.7;
  position: absolute;
}

.image {
  display: flex;
  width: 300px;
  height: 400px;
  top: -120px;
  left: 10px;
  border-radius: 100px 2px;
  object-fit: cover;
  background: transparent;
}

.carasoul .prev {
  z-index: 5;
  left: 50px;
  width: 250px;
  height: 250px;
  opacity: 0.7;
  transform: translateY(70%) translateX(0);
}

.carasoul  .selected {
  z-index: 10;
  left: 150px;
  height: 470px;
  width: 470px;
  border-radius: 5px;
  transform: translateY(10%) translateX(0);
}

.carasoul .selected img {
  width: 250px;
  height: 350px;
  top: -90px;
  left: 0;
  position: absolute;
}

.carasoul .prev img {
  width: 100px;
  top: -80px;
  left: 0;
  position: absolute;
}

.carasoul {
  position: relative;
  height: 80%;
  max-width: 1330px;
  width: 90%;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  top: 50%;
  background: whitesmoke;
  transform: translateY(-50%);
}


.carasoul div {
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: transform 1s, width 1s, height 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}

.carasoul img {
  width: 400px;
  object-fit: cover;
  transition: width 1s, height 1s;
}

.carasoul .hideLeft {
  left: 10%;
  opacity: 0;
  width: 150px;
  height: 150px;
  transform: translateY(50%) translateX(-50%);
}

.carasoul .hideLeft img {
  width: 70px;
  height: 100px;
  top: -50px;
  left: 0;
  position: absolute;
}

.carasoul .next {
  z-index: 5;
  left: 70%;
  width: 150px;
  height: 150px;
  opacity: 0.7;
  transform: translateY(250px) translateX(10%);
}

.carasoul .next img {
  width: 70px;
  height: 100px;
  top: -50px;
  left: 0;
  position: absolute;
}

.carasoul .hideRight {
  left: 90%;
  opacity: 0;
  width: 150px;
  height: 150px;
  transform: translateY(50%) translateX(-50%);
}

.carasoul .hideRight img {
  width: 0px;
  height: 0px;
  top: -50px;
  left: 0;
  position: absolute;
}

.carasoul .selected .cardTitle {
  opacity: 1;
  display: flex;
  flex: 1;
  font-size: 19px;
  justify-content: center;
  color: white;
  font-weight: bold;
  padding-top: 10px;
}
.carasoul .selected .cardDetailText {
  opacity: 1;
  display: flex;
  flex: 1;
  font-size: 17px;
  justify-content: center;
  color: white;
  font-weight: bold;
  padding-top: 10px;
}

.cardHeaderSection {
  display: flex;
  flex: 1;
  transition: transform 1s, width 1s, height 1s;
}

.carasoul .selected .cardHeaderSection {
  height: 265px;
}

.carasoul .next .cardHeaderSection {
  height: 100px;
}

.cardTitle {
  font-size: 0px;
  opacity: 0;
  transition: transform 1s;
}

.cardDetailText {
  font-size: 0px;
  opacity: 0;
  transition: transform 1s;
}

.carasoul .selected .imager {
  width: 240px;
}
